{#
TODO: reuse your unit from Lab 1
TODO: Path to jar should use variables {{ app_dir }}/{{ app_file }}
TODO: Environment variable for PORT should use value from variable {{ app_port }}
#}
[Unit]
Description=starts basic server
Requires=network.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-failure
RestartSec=10
Environment="PORT={{app_port}}"
ExecStart=java -jar {{app_dir}}/{{ app_file }}
User=ariklus
