{#
    Not the best way, but we will re-write entire default config :)
    Setup Nginx to listen on port 80 as a reverse proxy.
    Proxy pass destination should use {{ app_port }} variable
    to specify port on localhost where Java app lives
#}
user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
    worker_connections 768;
}

http {
    sendfile on;
    tcp_nopush on;
    types_hash_max_size 2048;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;


    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    gzip on;

  server {
    listen 80;
    location / {
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_pass http://localhost:{{app_port}}/;
    }
  }
}
